<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AmaurysAutoSongConnectionString"
      connectionString="Data Source=56-1415\SQLEXPRESS01;Initial Catalog=Amaurys;User ID=sa; Password=S3c@TC@@sd*18!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>